<div class="container-fluid" style="overflow:hidden;">
  <div class="row">
    <div class="col-12">        
       <swiper overlay-controls [config]="bannerconfig">
                <div *ngFor='let banner of CoPageList?.bannerList' class="swiper-slide">
                    <div class="swiper-slide-content">
                        <a [routerLink]="['/co-detail']"  (click)="openDetail(banner)">
                            <img src="{{banner?.metadata?.IMG_BANNER_BIG}}" onError="this.src='../../../assets/img/Default&CO1.png'" class="home-banner">
                        </a>
                    </div>
                </div>
            </swiper>
    </div>
  </div>
  <div class="row seeall">
    <div>
      
    </div>
    <div class="col-12">
      <a [routerLink]="['/morebanner']"(click)= "openMore(null,'morebanner','')">
            <p class="more-button2"> {{staticText['See All'] | translate: languageUse}} <img src ='../../../assets/img/more arrow.png' class="morearrow1"> </p>
          </a>
        </div>
  </div>

  <div class="row" *ngFor='let detail of CoPageList?.detailList'>
    <div class="col-12">
      <div class="row" >
              <div class="col-7" >
                  <h1 class="label-name"> {{detail.name}}</h1>
              </div>
              <div class="col-5 paddLft0">
					<a [routerLink]="['/squaremore']" (click)='openMore(detail?.id,"undefined",detail?.name)'>
            <p class="more-button" > {{staticText['More'] | translate: languageUse}}
								<img src ='../../../assets/img/more arrow.png' class="morearrow">
						</p>
					</a>
				</div>
          </div>
    
    <div class="row marLRMinas">
             <div class="col-12">
               <swiper overlay-controls [config]="config" class="sliderbtn">
                 <div *ngFor='let detbanner of detail?.productList' class="swiper-slide-box">
                   <div class="swiper-slide-content" class="content">
                     <a [routerLink] = "['/co-detail']" (click)="openDetail(detbanner)">
                         <img src="{{detbanner?.metadata?.IMG_PRODUCT_SQUARE_BIG}}"  onError="this.src='../../../assets/img/Default&CO3.png'" class="product-image" >
                     </a>
                     <div>
                      <div>
                        <p class="product-name" [innerHTML]="detbanner?.productName" ngbPopover="{{detbanner?.productName}}" placement="top"></p>
                      </div>
                    </div>
                     
                        <div>
									<!-- <div>
										
                    <div *ngIf="detbanner?.isRedirectToLink">
                      <button class="btn btn-block pricebtn" (click)="onNavigate(detail, detbanner);" >{{detbanner?.buttonBuy}}</button>                      
                    </div>
                    <div *ngIf="detbanner?.productPrice > 0 && !detbanner?.isRedirectToLink">
                        <button class="btn btn-block pricebtn" (click)="openPopup(detail, detbanner);">{{detbanner?.productPrice}}</button>
                      </div>
                      <div *ngIf="detbanner?.productPrice== 0 && detbanner.buttonBuy && !detbanner?.isRedirectToLink">
                        <button class="btn btn-block pricebtn" (click)="onNavigate(detail, detbanner);" >{{detbanner?.buttonBuy}}</button>
  
                      </div>
									</div> -->
								</div>
								<div class="col-4 col-md-4"></div>
                   </div>
                 </div>
               </swiper>
               
             </div>
           </div>
           
    </div>
  </div>
</div>