<div class="container-fluid" style="overflow:hidden;">
  <div class="row">
    <div class="col-12">
      <swiper overlay-controls [config]="bannerconfig">
        <div *ngFor='let banner of GamePageList?.bannerList;let i = index;' class="swiper-slide">
          <div class="swiper-slide-content">
            <div *ngIf="!banner?.metadata?.VID_BANNER">
              <a [routerLink]="[]" *ngIf="!banner?.metadata?.VID_BANNER" (click)="openDetail(banner)">
                <img src="{{banner?.metadata?.IMG_BANNER_BIG}}" onError="this.src='../../../assets/img/DefaultGame1.png'" class="home-banner">
              </a>
            </div>
            <div *ngIf="banner?.metadata?.VID_BANNER" id="{{'ifr' + i}}" class="ifrmclass">
              <a [routerLink]="[]" class="vidMain">
                <span id="{{'playbtn' + i }}" (click)="playVideo(banner?.metadata?.VID_BANNER, i)">
                  <img src="../../assets/img/Play.png" class="playicon">
                </span>
              </a>

              <img id="{{'vidimg' + i }}" src="{{banner?.metadata?.IMG_BANNER}}" onError="this.src='../../../assets/img/DefaultGame1.png'"
                class="home-banner" (click)="openDetail(banner)">

            </div>
            <!-- <a [routerLink]="['/game-detail']"  (click)="openDetail(banner)">
                            <img src="{{banner?.metadata?.IMG_BANNER_BIG}}" onError="this.src='../../../assets/img/DefaultGame1.png'" class="home-banner">
                        </a> -->
          </div>
        </div>
      </swiper>
    </div>
  </div>
  <div class="row seeall">
    <div>

    </div>
    <div class="col-12">
      <a [routerLink]="['/morebanner']" (click)="openMore(null,'morebanner','')">
        <p class="more-button2"> {{staticText['See All'] | translate: languageUse}}
          <img src='../../../assets/img/more arrow.png' class="morearrow1">
        </p>
      </a>
    </div>
  </div>
  <div class="row" *ngFor='let detail of GamePageList?.detailList'>
    <div class="col-12">
      <div class="row">
        <div class="col-7">
          <h1 class="label-name">{{detail.name}}</h1>
        </div>
        <div class="col-5 paddLft0">
          <a [routerLink]="['/squaremore']" (click)='openMore(detail?.id,"undefined",detail?.name)'>
            <p class="more-button"> {{staticText['More'] | translate: languageUse}}
              <img src='../../../assets/img/more arrow.png' class="morearrow">
            </p>
          </a>
        </div>
      </div>

      <div class="row marLRMinas">
        <div class="col-12">
          <swiper overlay-controls [config]="config" class="sliderbtn">
            <div *ngFor='let detbanner of detail?.productList' class="swiper-slide-box">
              <div class="swiper-slide-content" class="content">
                <a [routerLink]="['/game-detail']" (click)="openDetail(detbanner)">
                  <img src="{{detbanner?.metadata?.IMG_PRODUCT_SQUARE_BIG}}" class="product-image" onError="this.src='../../../assets/img/DefaultGame3.png'">
                </a>
                <!--<div class=row>
                      <div class="col-8 col-md-6">
                          <p [innerHTML] = "detbanner?.productName"></p> 
                          <div *ngIf="detbanner?.productPrice > 0">
                            <button type="button" class="btn btn-secondary pricebtn" (click)="openPopup(detail, detbanner);">{{detbanner?.productPrice}}</button> 
                          </div>
                          </div>
                      <div class="col-4 col-md-4" >
                          
                      </div>
                    </div>-->
                <div>
                  <div>
                    <p class="product-name" [innerHTML]="detbanner?.productName" ngbPopover="{{detbanner?.productName}}" placement="top"></p>
                  </div>
                </div>
                <div>
                  <div>
                    <!-- <div *ngIf="detbanner?.productPrice > 0">
										  <button type="button" class="btn btn-square pricebtn" (click)="openPopup(detail, detbanner);">{{detbanner?.productPrice}}</button>
                    </div> -->
                    <div *ngIf=" detbanner?.buttonBuy && detbanner.isRedirectToLink ">
                      <button style="border-radius: 0 !important; " class="btn btn-block pricebtn" (click)="onNavigate('', detbanner);">{{detbanner?.buttonBuy}}</button>
                    </div>
                    <div *ngIf=" !detbanner?.buttonBuy  && detbanner?.productPrice && detbanner.isRedirectToLink ">
                      <button style="border-radius: 0 !important; " class="btn btn-block pricebtn" (click)="openPopup('', detbanner);">{{detbanner?.productPrice}}</button>
                    </div>
                    <div *ngIf="!detbanner?.buttonBuy && detbanner?.productPrice && !detbanner.isRedirectToLink ">
                      <button style="border-radius: 0 !important; " class="btn btn-block pricebtn" (click)="openPopup('', detbanner);">{{detbanner?.productPrice}}</button>
                    </div>
                    <div *ngIf="detbanner?.buttonBuy && detbanner?.productPrice && !detbanner.isRedirectToLink ">
                      <button style="border-radius: 0 !important; " class="btn btn-block pricebtn" (click)="openPopup('', detbanner);">{{detbanner?.productPrice}}</button>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-md-4"></div>
              </div>
            </div>
          </swiper>

        </div>
      </div>
      <!--<div class="row">
             <div class="col-12">
               <a [routerLink] = "['/more']" (click)='openMore(detail?.id)'>
               <p style="float: right;">more</p>
               </a>

               </div>
             </div>-->
    </div>
  </div>
</div>