<!-- <div class="container" style="margin-top:20px;">

  </div> -->
  

  

<div class="container-fluid">
        <div class="row">
          <div class="col-2" class="profilecol">
            <img src="assets/img/user.png" class="profile-image">
            <p class="pofile-text">{{staticText['Bill'] | translate: languageUse}}</p>
          </div>
          <div class="col-6 profilenew">
             
            <ul class="detail-profile newulstyle">
                 <!-- Header div put image also-->
    <div class="row">
            <div class="col-12">
              <img src="assets/img/back.png" routerLink="/3pascabayar" style=" margin: -7px 0 20px -7px;" (click)='backtoprev();'>
              <p style="font-weight:bold;">{{staticText.Payment | translate: languageUse}}</p>
            </div>
          </div>
          <!-- Product Detail -->
          <div class="row">
              <div class="col-8">
                <p style="font-weight:bold;">Number</p>
              </div>
              <div class="col-4">
                  <p>{{msisdn}}</p>
              </div>
          </div>
          <hr/>
          <div class="row">
              <div class="col-4">
                <p style="font-weight:bold;">{{staticText.Bill | translate: languageUse}}</p>
              </div>
              <div class="col-4">
                  <p> IDR</p>
              </div>
              <div class="col-4">
                  <!-- <p style="font-weight:bold;">{{billingData?.amountInvoice}}</p> -->
                  <p style="font-weight:bold;">{{billamnt}}</p>
              </div>
          </div>
          <div class="row">
              <div class="col-4">
                <p style="font-weight:bold;">{{staticText.Payment | translate: languageUse}}</p>
              </div>
              <div class="col-4">
                  <p> Min-IDR </p>
                  <p> Max-IDR </p>
              </div>
              <div class="col-4">
                  <p>{{minidr}}</p>
                  <p>{{maxidr}}</p>
              </div>
          </div>
          <div class="row">
              <div class="col-4">
                <p style="font-weight:bold;">Nominal</p>
              </div>
              <div class="col-4">
                  <p> IDR </p>
              </div>
              <div class="col-4" *ngIf="subscribertype !== 'hybrid'">
                  <input type="text" class="login-input" name="msgcontnt" [(ngModel)]="nominal" value="{{billamnt.replace('.','')}}" />
              </div>
              <div class="col-4" *ngIf="subscribertype == 'hybrid'">
                  <input type="text" class="login-input" name="msgcontnt" [(ngModel)]="nominal" value="{{billamnt}}" />
              </div>
          </div>
          <div class="row">
              <div class="col-4">
                <p style="font-weight:bold;">{{staticText['Payment Method'] | translate: languageUse}}</p>
              </div>
              <div class="col-4">
                  <p> IDR </p>
              </div>
              <div class="col-4">
                  <select class="login-input" name="serviceType" [(ngModel)]="selectedChannel" >
                      <option *ngFor="let channel of channels" [ngValue]="channel">{{channel.methodName}}</option>
                    </select>
              </div>
          </div>
          <hr/>
          <div class="row">
             <div class="col-12">
              <button type="button" class="btn-flat btnStyle" (click)="selectPackage()" style="display: block; float:right;" > {{staticText['Submit'] | translate: languageUse}}</button>
             </div>   
            </div>
            </ul>
          </div>
          <div class="col-2">
            </div>
        </div>
      </div>